* { 
  box-sizing: border-box; 
}
body {
  font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #3d72dc; 
}
header, footer { 
  background-color: #202020; color: white; text-align: center; padding: 1em 0; 
}
.wrap { 
  display: flex; flex-wrap: wrap; gap: 12px; padding: 20px; max-width: 1500px; margin: 12px auto; 
}
.col { 
  background-color: #f1eded; padding: 15px; box-shadow: 0 0 10px #0000001a; flex: 1 1 100%;
}
.left, .right { 
}
.center { 
}
h1, h2 { 
  margin-top: 0; 
}
ul { 
  list-style-type: none; padding: 0; 
}
ul li { 
  background-color: #a39c9c; margin-bottom: 5px; padding: 20px; border-radius: 15px; 
}
.clear { 
  clear: both; 
}

@media (min-width: 600px) {
  .col { flex: 1 1 48%; }
}

@media (min-width: 920px) {
  .col { flex: 1 1 30%; }
}
